body {
    
    font-family: Arial, sans-serif;
    background-color: #c8f1bf;
    margin: 0;
    padding: 0;
}

.btn-action{
    background-color: #063c08;
    border: 1px solid var(--white);
    color: var(--white);
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background: linear-gradient(to bottom, #3fdb34, #063c08);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #f6f8f8;
}

p {
    color: #ffffff;
}

.affiliate-link {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #fffcfc;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    color: #666;
}

.sales-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #356234;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sales-button:hover {
    background-color: #2980b9;
}

footer{

    color: #f6f8f8;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #09530b;
}

footer > div{
    
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}
